
.tableDiv{
    position: relative;
    margin: 10px 50px 10px 50px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}
h2,.h2{
color:gray;
}
#submit{
margin-top:1%;
}

.addFriend{
	width: 380px;
    margin-top: 2%;
    margin-left: 35%;
}

#moreInfo{
	display:none;
    width: 381px;
    margin-top: 2%;
    margin-left: 35%;
}

.input-group-addon{
	width:184px;
}
.classes{
	width: 381px;
	height:150px;
	overflow-y:scroll;
}
.checkbox{
	width: 381px;
}

#moreInfoButton{
 margin-top: 9%;
}

#bday,#school{
 width: 196px;
}

.alert{
	display:none;
	position: absolute;
    left: 30%;
    top: 0%;
    width: 500px;
	text-align: center;
}

.additionalInfo{
	width:120;
}